In [4]:
import json
import os
import pandas as pd
from io import BytesIO ## 
import matplotlib.pyplot as plt
import cv2
import random
from PIL import Image ## 분석할 이미지

In [5]:
## open_image test
#dir_path = "../../disk/Data/open_image/"
#dir_path = "../Data/train2017/"
dir_path = "../../disk/Data/flickr30k_images/"


non_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        non_names.append(folder+'/'+img)
random.shuffle(non_names)
non_disaster_images = non_names
print(len(non_disaster_images))

31752

In [6]:
## open_image test
dir_path = "../Data/disaster_images/flickr30k_disaster/"

dis_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        dis_names.append(folder+'/'+img)
random.shuffle(dis_names)
disaster_images = dis_names
print(len(disaster_images))

32

In [7]:
image_data = non_disaster_images + disaster_images

In [8]:
non_label = [0]*int(len(non_disaster_images))
dis_label = [1]*int(len(disaster_images))
image_label = non_label + dis_label

In [9]:
tst_df2 = pd.DataFrame(image_data, columns=['image_id'])
tst_df2['dir'] = tst_df2['image_id'].apply(lambda x: os.path.dirname(x))
tst_df2['image_id'] = tst_df2['image_id'].apply(lambda x: os.path.basename(x))
tst_df2['label'] = image_label
test = tst_df2
test

             image_id                                         dir  label
0      3833511502.jpg            ../../disk/Data/flickr30k_images      0
1      3688343105.jpg            ../../disk/Data/flickr30k_images      0
2      4785668533.jpg            ../../disk/Data/flickr30k_images      0
3      2286239223.jpg            ../../disk/Data/flickr30k_images      0
4      2912739576.jpg            ../../disk/Data/flickr30k_images      0
...               ...                                         ...    ...
31779  3338082262.jpg  ../Data/disaster_images/flickr30k_disaster      1
31780  7567712136.jpg  ../Data/disaster_images/flickr30k_disaster      1
31781  4764493697.jpg  ../Data/disaster_images/flickr30k_disaster      1
31782  7162932481.jpg  ../Data/disaster_images/flickr30k_disaster      1
31783  4797878234.jpg  ../Data/disaster_images/flickr30k_disaster      1

[31784 rows x 3 columns]

In [ ]:
def get_img(path):
    im_bgr = cv2.imread(path)
    im_rgb = im_bgr[:, :, ::-1]
    return im_rgb
img = get_img('../Data/disaster_images/flickr30k_disaster/4115261994.jpg')
img

In [10]:
model_dir = 'tf_efficientnet_b2_ns/tf_efficientnet_b2_ns_4_27'
%run eval_test.ipynb
test

100%|█████████████████████████████████████████| 249/249 [04:53<00:00,  1.18s/it]

,image_id,dir,label,pred,confidence score
0,3833511502.jpg,../../disk/Data/flickr30k_images,0,0,1.000000
1,3688343105.jpg,../../disk/Data/flickr30k_images,0,0,1.000000
2,4785668533.jpg,../../disk/Data/flickr30k_images,0,0,1.000000
3,2286239223.jpg,../../disk/Data/flickr30k_images,0,0,0.999997
4,2912739576.jpg,../../disk/Data/flickr30k_images,0,0,1.000000
...,...,...,...,...,...
31779,3338082262.jpg,../Data/disaster_images/flickr30k_disaster,1,0,0.984385
31780,7567712136.jpg,../Data/disaster_images/flickr30k_disaster,1,0,0.745685
31781,4764493697.jpg,../Data/disaster_images/flickr30k_disaster,1,1,0.976086
31782,7162932481.jpg,../Data/disaster_images/flickr30k_disaster,1,0,1.000000
31783,4797878234.jpg,../Data/disaster_images/flickr30k_disaster,1,0,0.999005

In [11]:
print(f'accuracy: {test_acc:.4f}')
print(f'f1_score: {epoch_f1:.4f}')
print(f'confusion_matrix \n-------------------------\n {test_matrix}')

accuracy: 0.9987
f1_score: 0.5431
confusion_matrix
-------------------------
 [[31740    12]
 [   30     2]]

In [12]:
test.to_csv('test_result/nsb2_flk_tst2.csv', index=False)

In [ ]:
non_matched_idx = test['label'] != test['pred']
non_matched = test[non_matched_idx].reset_index(inplace = False, drop=True)
non_matched