In [1]:
import json
import os
import pandas as pd
import matplotlib.pyplot as plt
import cv2
import random

### coco: 894 // flickr: 184 // open_image: 616

In [2]:
dir_path = "../Data/disaster/"

img_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        img_names.append(folder+'/'+img)
random.shuffle(img_names)
disaster = img_names[:8000]
print(len(disaster))

8000

In [3]:
## open_image 1만장
dir_path = "../../disk/Data/open_image/train_0/"

img_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        img_names.append(folder+'/'+img)
random.shuffle(img_names)
open_image_non = img_names[:4000]
print(len(open_image_non))

4000

In [4]:
## coco_image 1만장
dir_path = "../Data/train2017"

img_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        img_names.append(folder+'/'+img)
random.shuffle(img_names)
coco_non = img_names[:4000]
print(len(coco_non))

4000

In [5]:
print(coco_non[:3])

['../Data/train2017/000000308223.jpg', '../Data/train2017/000000418288.jpg', '../Data/train2017/000000007596.jpg']

In [6]:
non = coco_non + open_image_non
random.shuffle(non)
print(len(non))

8000

##### labeling

##### split train, test

In [7]:
### train: test (4:1)
## 36000 (1/4), 4000 (1/4)
non_ratio=6400
dis_ratio=6400
trn_disater = non[:non_ratio] + disaster[:dis_ratio]
tst_disater = non[non_ratio:] + disaster[dis_ratio:]
trn_label = [0]*int(len(non[:non_ratio])) + [1]*int(len(disaster[:dis_ratio]))
tst_label = [0]*int(len(non[non_ratio:])) + [1]*int(len(disaster[dis_ratio:]))
print(len(trn_label))
print(len(tst_label))

12800
3200

In [8]:
trn_df = pd.DataFrame(trn_disater, columns=['image_id'])
trn_df['dir'] = trn_df['image_id'].apply(lambda x: os.path.dirname(x))
trn_df['image_id'] = trn_df['image_id'].apply(lambda x: os.path.basename(x))
trn_df['label'] = trn_label
train = trn_df
train

,image_id,dir,label
0,0102558e76eac8ab.jpg,../../disk/Data/open_image/train_0,0
1,000000399147.jpg,../Data/train2017,0
2,0497f712f14bf7c2.jpg,../../disk/Data/open_image/train_0,0
3,000000046870.jpg,../Data/train2017,0
4,000000512282.jpg,../Data/train2017,0
...,...,...,...
12795,Four firefighters are outside placing a water ...,../Data/disaster/generated/flickr,1
12796,In this image we can see a man holding a kid a...,../Data/disaster/generated/open_image,1
12797,87b8f8da5c2257c7.jpg,../Data/disaster/origin_images/open_image_disa...,1
12798,fd00a73e3f447913_01.jpg,../Data/disaster/augmented,1
12799,In this picture we can see two building with w...,../Data/disaster/generated/open_image,1

In [9]:
tst_df = pd.DataFrame(tst_disater, columns=['image_id'])
tst_df['dir'] = tst_df['image_id'].apply(lambda x: os.path.dirname(x))
tst_df['image_id'] = tst_df['image_id'].apply(lambda x: os.path.basename(x))
tst_df['label'] = tst_label
test = tst_df
test

,image_id,dir,label
0,000000353558.jpg,../Data/train2017,0
1,000000292645.jpg,../Data/train2017,0
2,000000297039.jpg,../Data/train2017,0
3,000000384332.jpg,../Data/train2017,0
4,000000184532.jpg,../Data/train2017,0
...,...,...,...
3195,A person is standing inside of a fire damaged ...,../Data/disaster/generated/coco,1
3196,There is a surface of water at the bottom of t...,../Data/disaster/generated/open_image,1
3197,In this picture we can see the water. At the t...,../Data/disaster/generated/open_image,1
3198,000000374241_02.jpg,../Data/disaster/augmented,1
3199,A wind surfer practices in a flooded park_02.png,../Data/disaster/generated/coco,1

In [10]:
project_name = 'disaster_classfication_tf_efficientnet_b2_ns_88'
user = 'hojunking'
run_name = 'disaster_classfication_tf_efficientnet_b2_ns_88'

In [ ]:
%run classification_baseline.ipynb

In [11]:
dist.destroy_process_group()

AssertionError:

In [12]:
model_name = 'resnet50'
model_dir = model_name + '/resnet50_2'
%run eval_test.ipynb

100%|███████████████████████████████████████████| 25/25 [01:25<00:00,  3.42s/it]

,image_id,dir,label,pred,confidence score
0,0d75f4d0712d4dd7.jpg,../../disk/Data/open_image/train_0,0,0,0.999982
1,09ee86f41b4e129d.jpg,../../disk/Data/open_image/train_0,0,0,0.998963
2,0bdcc526bd0dd8d0.jpg,../../disk/Data/open_image/train_0,0,0,1.000000
3,000000452775.jpg,../Data/train2017,0,0,0.999969
4,0fca19850cae19fb.jpg,../../disk/Data/open_image/train_0,0,0,1.000000
...,...,...,...,...,...
3195,cc144958ab2a65ee_03.jpg,../Data/disaster/augmented,1,1,1.000000
3196,56234c17e1d60456_02.jpg,../Data/disaster/augmented,1,1,1.000000
3197,It is a very cloudy and foggy day over the wat...,../Data/disaster/generated/coco,1,1,1.000000
3198,A stop light is red on a foggy day._01.png,../Data/disaster/generated/coco,1,1,1.000000
3199,c9abbbebdf82a765_02.jpg,../Data/disaster/augmented,1,1,1.000000

In [13]:
print(f'accuracy: {test_acc:.4f}')
print(f'f1_score: {epoch_f1:.4f}')
print(f'confusion_matrix \n-------------------------\n {test_matrix}')

accuracy: 0.9719
f1_score: 0.9719
confusion_matrix
-------------------------
 [[1538   62]
 [  28 1572]]

In [24]:
test.to_csv('test_result/nsb2_oi_tst.csv', index=False)

In [8]:
test_acc = np.sum(test.label == test.pred) / len(test)
test_acc

0.9963420273292325

NameError: name 'model' is not defined