In [1]:
import json
import os
import pandas as pd
import matplotlib.pyplot as plt
import cv2
import random

### coco: 894 // flickr: 184 // open_image: 616

In [2]:
dir_path = "../Data/disaster/"

img_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        img_names.append(folder+'/'+img)
random.shuffle(img_names)
disaster = img_names[:4000]
print(len(disaster))

4000

In [3]:
## open_image 1만장
dir_path = "../../disk/Data/open_image/train_0/"

img_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        img_names.append(folder+'/'+img)
random.shuffle(img_names)
open_image_non = img_names[:3000]
print(len(open_image_non))

3000

In [4]:
## coco_image 1만장
dir_path = "../Data/train2017"

img_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        img_names.append(folder+'/'+img)
random.shuffle(img_names)
coco_non = img_names[:3000]
print(len(coco_non))

3000

In [5]:
print(coco_non[:3])

['../Data/train2017/000000189152.jpg', '../Data/train2017/000000562664.jpg', '../Data/train2017/000000027329.jpg']

In [6]:
non = coco_non + open_image_non
random.shuffle(non)
print(len(non))

6000

##### labeling

##### split train, test

In [7]:
### train: test (4:1)
## 36000 (1/4), 4000 (1/4)
non_ratio=4500
dis_ratio=3000
trn_disater = non[:non_ratio] + disaster[:dis_ratio]
tst_disater = non[non_ratio:] + disaster[dis_ratio:]
trn_label = [0]*int(len(non[:non_ratio])) + [1]*int(len(disaster[:dis_ratio]))
tst_label = [0]*int(len(non[non_ratio:])) + [1]*int(len(disaster[dis_ratio:]))
print(len(trn_label))
print(len(tst_label))

7500
2500

In [8]:
trn_df = pd.DataFrame(trn_disater, columns=['image_id'])
trn_df['dir'] = trn_df['image_id'].apply(lambda x: os.path.dirname(x))
trn_df['image_id'] = trn_df['image_id'].apply(lambda x: os.path.basename(x))
trn_df['label'] = trn_label
train = trn_df
train

,image_id,dir,label
0,053ef82231b9d0a9.jpg,../../disk/Data/open_image/train_0,0
1,0d861913c02444ad.jpg,../../disk/Data/open_image/train_0,0
2,02861284038d6fa5.jpg,../../disk/Data/open_image/train_0,0
3,000000129129.jpg,../Data/train2017,0
4,0b3ea9fe197471af.jpg,../../disk/Data/open_image/train_0,0
...,...,...,...
7495,We can see peoplewater and trees. In the backg...,../Data/disaster/generated/open_image,1
7496,560e387f1b361a5c_03.jpg,../Data/disaster/augmented,1
7497,000000490978_02.jpg,../Data/disaster/augmented,1
7498,A couple of park benches sitting in a flooded ...,../Data/disaster/generated/coco,1
7499,e96bd3fbab0d4357_01.jpg,../Data/disaster/augmented,1

In [9]:
tst_df = pd.DataFrame(tst_disater, columns=['image_id'])
tst_df['dir'] = tst_df['image_id'].apply(lambda x: os.path.dirname(x))
tst_df['image_id'] = tst_df['image_id'].apply(lambda x: os.path.basename(x))
tst_df['label'] = tst_label
test = tst_df
test

,image_id,dir,label
0,0bdc6605e4dabcd2.jpg,../../disk/Data/open_image/train_0,0
1,037fb933cecedef4.jpg,../../disk/Data/open_image/train_0,0
2,000000383884.jpg,../Data/train2017,0
3,000000347753.jpg,../Data/train2017,0
4,0e20cab072faaab2.jpg,../../disk/Data/open_image/train_0,0
...,...,...,...
2495,b6258d9fa4842a39_00.jpg,../Data/disaster/augmented,1
2496,4718871145_02.jpg,../Data/disaster/augmented,1
2497,"""In the down side there are green color trees....",../Data/disaster/generated/open_image,1
2498,City traffic waiting for signal to change on f...,../Data/disaster/generated/coco,1
2499,000000160746_00.jpg,../Data/disaster/augmented,1

In [10]:
project_name = 'disaster_classfication_resnet101'
user = 'hojunking'
run_name = 'disaster_classfication_resnet101'

In [ ]:
%run classification_baseline.ipynb

In [14]:
dist.destroy_process_group()

In [15]:
model_dir = 'resnet50/resnet50_0'
%run eval_test.ipynb
test

100%|███████████████████████████████████████████| 20/20 [01:10<00:00,  3.50s/it]

,image_id,dir,label,pred,confidence score
0,0d2ceffbc1af658b.jpg,../../disk/Data/open_image/train_0,0,0,0.832419
1,000000365314.jpg,../Data/train2017,0,0,0.901519
2,03276b57be82e565.jpg,../../disk/Data/open_image/train_0,0,0,0.879928
3,000000262360.jpg,../Data/train2017,0,0,0.752063
4,0749aae6bd625168.jpg,../../disk/Data/open_image/train_0,0,0,0.865968
...,...,...,...,...,...
2495,This picture shows a tree and we see plants an...,../Data/disaster/generated/open_image,1,1,0.887312
2496,A group of people walking on top of a flooded ...,../Data/disaster/generated/coco,1,0,0.565004
2497,A sports utility vehicle driving in the brush ...,../Data/disaster/generated/coco,1,1,0.757751
2498,0a49797a8f240259_00.jpg,../Data/disaster/augmented,1,1,0.918840
2499,In this picture I can observe a couple walking...,../Data/disaster/generated/open_image,1,0,0.573228

In [16]:
print(f'accuracy: {test_acc:.4f}')
print(f'f1_score: {epoch_f1:.4f}')
print(f'confusion_matrix \n-------------------------\n {test_matrix}')

accuracy: 0.9216
f1_score: 0.9170
confusion_matrix
-------------------------
 [[1447   53]
 [ 143  857]]

In [24]:
test.to_csv('test_result/nsb2_oi_tst.csv', index=False)

In [8]:
test_acc = np.sum(test.label == test.pred) / len(test)
test_acc

0.9963420273292325

NameError: name 'model' is not defined