In [1]:
import json
import os
import pandas as pd
import matplotlib.pyplot as plt
import cv2
import random

### coco: 894 // flickr: 184 // open_image: 616

In [12]:
dir_path = "../Data/disaster/generated"

img_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        img_names.append(folder+'/'+img)
random.shuffle(img_names)
disaster = img_names[:4000]
print(len(disaster))

1808

In [3]:
## open_image 1만장
dir_path = "../../disk/Data/open_image/train_0/"

img_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        img_names.append(folder+'/'+img)
random.shuffle(img_names)
open_image_non = img_names[:3000]
print(len(open_image_non))

3000

In [4]:
## coco_image 1만장
dir_path = "../Data/train2017"

img_names = []
for folder, subfolders, filenames in os.walk(dir_path):
    for img in filenames:
        img_names.append(folder+'/'+img)
random.shuffle(img_names)
coco_non = img_names[:3000]
print(len(coco_non))

3000

In [5]:
print(coco_non[:3])

['../Data/train2017/000000135117.jpg', '../Data/train2017/000000377055.jpg', '../Data/train2017/000000385533.jpg']

In [6]:
non = coco_non + open_image_non
random.shuffle(non)
print(len(non))

6000

##### labeling

##### split train, test

In [7]:
### train: test (4:1)
## 36000 (1/4), 4000 (1/4)
non_ratio=4500
dis_ratio=3000
trn_disater = non[:non_ratio] + disaster[:dis_ratio]
tst_disater = non[non_ratio:] + disaster[dis_ratio:]
trn_label = [0]*int(len(non[:non_ratio])) + [1]*int(len(disaster[:dis_ratio]))
tst_label = [0]*int(len(non[non_ratio:])) + [1]*int(len(disaster[dis_ratio:]))
print(len(trn_label))
print(len(tst_label))

7500
2500

In [8]:
trn_df = pd.DataFrame(trn_disater, columns=['image_id'])
trn_df['dir'] = trn_df['image_id'].apply(lambda x: os.path.dirname(x))
trn_df['image_id'] = trn_df['image_id'].apply(lambda x: os.path.basename(x))
trn_df['label'] = trn_label
train = trn_df
train

,image_id,dir,label
0,0173accce4767e5b.jpg,../../disk/Data/open_image/train_0,0
1,000000188815.jpg,../Data/train2017,0
2,000000106222.jpg,../Data/train2017,0
3,000000194299.jpg,../Data/train2017,0
4,004098e582ec33d9.jpg,../../disk/Data/open_image/train_0,0
...,...,...,...
7495,dc68faebac1558fa_00.jpg,../Data/disaster/augmented,1
7496,86067733c4e30d83_00.jpg,../Data/disaster/augmented,1
7497,In this image in the front there are flowers a...,../Data/disaster/generated/open_image,1
7498,a8f397a0f65a323c_03.jpg,../Data/disaster/augmented,1
7499,In this picture we can see a woman holding a c...,../Data/disaster/generated/open_image,1

In [9]:
tst_df = pd.DataFrame(tst_disater, columns=['image_id'])
tst_df['dir'] = tst_df['image_id'].apply(lambda x: os.path.dirname(x))
tst_df['image_id'] = tst_df['image_id'].apply(lambda x: os.path.basename(x))
tst_df['label'] = tst_label
test = tst_df
test

,image_id,dir,label
0,000000111649.jpg,../Data/train2017,0
1,000000461794.jpg,../Data/train2017,0
2,000000186833.jpg,../Data/train2017,0
3,000000133634.jpg,../Data/train2017,0
4,000000014844.jpg,../Data/train2017,0
...,...,...,...
2495,A couple of men kayaking in a flooded park are...,../Data/disaster/generated/coco,1
2496,000000286899_02.jpg,../Data/disaster/augmented,1
2497,b8422e374555ab8a_02.jpg,../Data/disaster/augmented,1
2498,A bicycle leans against a fence near some floo...,../Data/disaster/generated/coco,1
2499,People crowd a flooded area with boats and con...,../Data/disaster/generated/coco,1

In [10]:
project_name = 'disaster_classfication_resnet101'
user = 'hojunking'
run_name = 'disaster_classfication_resnet101'

In [ ]:
%run classification_baseline.ipynb

In [13]:
dist.destroy_process_group()

In [10]:
model_dir = 'resnet101/resnet101_2'
%run eval_test.ipynb
test

100%|███████████████████████████████████████████| 20/20 [01:11<00:00,  3.55s/it]

,image_id,dir,label,pred,confidence score
0,000000111649.jpg,../Data/train2017,0,0,0.692672
1,000000461794.jpg,../Data/train2017,0,0,0.906908
2,000000186833.jpg,../Data/train2017,0,0,0.539759
3,000000133634.jpg,../Data/train2017,0,0,0.852326
4,000000014844.jpg,../Data/train2017,0,0,0.692018
...,...,...,...,...,...
2495,A couple of men kayaking in a flooded park are...,../Data/disaster/generated/coco,1,1,0.506881
2496,000000286899_02.jpg,../Data/disaster/augmented,1,1,0.751693
2497,b8422e374555ab8a_02.jpg,../Data/disaster/augmented,1,1,0.647772
2498,A bicycle leans against a fence near some floo...,../Data/disaster/generated/coco,1,0,0.508916
2499,People crowd a flooded area with boats and con...,../Data/disaster/generated/coco,1,0,0.525479

In [11]:
print(f'accuracy: {test_acc:.4f}')
print(f'f1_score: {epoch_f1:.4f}')
print(f'confusion_matrix \n-------------------------\n {test_matrix}')

accuracy: 0.8388
f1_score: 0.8235
confusion_matrix
-------------------------
 [[1417   83]
 [ 320  680]]

In [24]:
test.to_csv('test_result/nsb2_oi_tst.csv', index=False)

In [8]:
test_acc = np.sum(test.label == test.pred) / len(test)
test_acc

0.9963420273292325

NameError: name 'model' is not defined